*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    min-height: calc(100 - 160px);
    text-align: center;

    
}

body{
    background-color:black;

    text-align: center;
}

.main{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
padding: 20px;
border: 2px solid rgb(8, 8, 7);
border position: center;
width: 50%;
font-size: medium;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;



}
.navbar-brand img{
    width: 50px;
}
   
h1{
    color: blue;
}
h2{
    color: blue;
}
P{
    color: white;
}









main.p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.carousel-item img{
    max-height: calc(50vh-50px);
    height: 80vh;
    margin: 30px;
}

.tituserv{
    color: rgb(252, 252, 252);
    text-align: center;
    font-family: font-family: 'Roboto', sans-serif;
    padding: 20px;
}
.galeria{
    height: auto;
    width: 100%;
    background-color: rgb(247, 241, 241);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(8,250px);
    grid-gap: 20px;
}
.item{
    
    height: 200px;
    width: 100%;
    background-color: gray;
    border: 2px solid #000;
    background-size: cover;
    background-position: center; 
}

.item1{
    background-image: url(../imgdesafio/todoenorden1.jpeg);
  
}
.item2{
    background-image: url(../imgdesafio/todoenorden2.gif);
  
}
.item3{
    background-image: url(../imgdesafio/todoenorden3.jpeg);
  
}
.item4{
    background-image: url(../imgdesafio/todoenorden4.jpg);
  
}
.item5{
    background-image: url(../imgdesafio/todoenorden5.jpg);
  
}
.item6{
    background-image: url(../imgdesafio/sala.jpeg);
  

}

.item7{
    background-image: url(../imgdesafio/casalimpia2.jpeg);
  
}
.item8{
    background-image: url(../imgdesafio/casalimpia.jpeg);
  
}


.formulario{
    float:central;
}










.final{
    background-color: rgb(48, 2, 48);
    height: 80px;
}
.footer_socials{
    height: 80px;
    background-color:rgb(48, 2, 48);
}

.home{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    width: 40%;
    padding: 100px;
    

}


    

.recomensationscustomer2{
    float: right;
}

.dejanosinfo{
    width: 50%;
    margin: auto;
}
.maincontacto form{
    width: 50%;
    margin: auto;
    border: 2px solid black;
   
}
.mainhorarios{
    height: 400px;

}
@media only screen and (min-width: 480px){
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-row: repeat (4, 200px);
    }
    }
@media only screen and (min-width: 768px){
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item1{
        grid-column:  1/3;}
}
